DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Email Provider: "console" (default) or "smtp"
EMAIL_PROVIDER="console"
# SMTP_URL="" # Set for smtp provider

# Dev Database
DOCKER_DB_USER="root"
DOCKER_DB_PASSWORD="mysecretpassword"
DOCKER_DB_DATABASE="local"
DOCKER_DB_PORT="5432"