# Database
DATABASE_USER="root"
DATABASE_PASSWORD="mysecretpassword"
DATABASE_DB="local"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Email Provider: "console" (default) or "smtp"
EMAIL_PROVIDER="console"
# SMTP_URL="" # Set for smtp provider
